<a href="https://colab.research.google.com/github/sherf1207/Amit-assignments/blob/main/NLP_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv("/content/Fake Postings.csv")
df

,title,description,requirements,company_profile,location,salary_range,employment_type,industry,benefits,fraudulent
0,Mental health nurse,Arm drive court sure vote. Earn $5000/week! Im...,"Basic knowledge in live, no degree required. F...",Rivera and Sons - Established 2022.,West Jeffrey,$55016-$100476,Internship,IT,Free meals,1
1,Conference centre manager,Government whom its bed go tax tree black. Ear...,"Basic knowledge in seek, no degree required. F...","Davidson, Jones and Gomez - Established 2003.",Lake Meredithberg,$53438-$93138,Part-Time,Finance,Flexible hours,1
2,"Engineer, land",I member discuss follow way there nation. Earn...,"Basic knowledge in worker, no degree required....",Allen Ltd - Established 1998.,Lake Cathybury,$45584-$105229,Part-Time,IT,Free travel,1
3,Forest/woodland manager,House across wait approach face. Earn $5000/we...,"Basic knowledge in example, no degree required...",Forbes Ltd - Established 1990.,South Matthewstad,$66188-$139621,Full-Time,Education,Free travel,1
4,"Production designer, theatre/television/film",Case best environmental full finally leader me...,"Basic knowledge in smile, no degree required. ...","Jennings, Martin and Sanchez - Established 1975.",East Rhondafurt,$32183-$115012,Temporary,Retail,Flexible hours,1
...,...,...,...,...,...,...,...,...,...,...
9995,"Designer, furniture",Worry own pressure stuff together room propert...,"Basic knowledge in discussion, no degree requi...",Olson-Williams - Established 2017.,Paulabury,$39450-$149734,Full-Time,Retail,Free meals,1
9996,"Therapist, speech and language",Enter bit thing certainly. Earn $5000/week! Im...,"Basic knowledge in value, no degree required. ...",Moreno-Pruitt - Established 2016.,Moraleschester,$49324-$111597,Part-Time,IT,Sign-on bonus,1
9997,"Therapist, sports",Visit goal under boy. Earn $5000/week! Immedia...,"Basic knowledge in during, no degree required....","Lewis, Patterson and Cowan - Established 1979.",Christinemouth,$41346-$89686,Full-Time,Education,Remote work opportunities,1
9998,Clinical research associate,Walk money letter few. Earn $5000/week! Immedi...,"Basic knowledge in can, no degree required. Fl...",Diaz-Wilkerson - Established 2019.,Lake Meredithberg,$65604-$149614,Contract,Finance,Flexible hours,1
9999,Hospital pharmacist,Other left TV each reveal. Earn $5000/week! Im...,"Basic knowledge in pick, no degree required. F...","Sanders, Sanchez and Cox - Established 2024.",Samanthaland,$56437-$112301,Temporary,Real Estate,Free meals,1

In [ ]:
df.isna().sum()

title              0
description        0
requirements       0
company_profile    0
location           0
salary_range       0
employment_type    0
industry           0
benefits           0
fraudulent         0
dtype: int64

In [ ]:
df.duplicated().sum()

0

In [ ]:
# replacing "/" with "per"
import re
df['description'] = df['description'].apply(lambda x: re.sub(r'/', ' per ', x))
df['description']

0       Arm drive court sure vote. Earn $5000 per week...
1       Government whom its bed go tax tree black. Ear...
2       I member discuss follow way there nation. Earn...
3       House across wait approach face. Earn $5000 pe...
4       Case best environmental full finally leader me...
                              ...
9995    Worry own pressure stuff together room propert...
9996    Enter bit thing certainly. Earn $5000 per week...
9997    Visit goal under boy. Earn $5000 per week! Imm...
9998    Walk money letter few. Earn $5000 per week! Im...
9999    Other left TV each reveal. Earn $5000 per week...
Name: description, Length: 10000, dtype: object

In [ ]:
# removing any spectial characters
import re
df['description'] = df['description'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', x))
df['description']

0       Arm drive court sure vote Earn 5000 per week I...
1       Government whom its bed go tax tree black Earn...
2       I member discuss follow way there nation Earn ...
3       House across wait approach face Earn 5000 per ...
4       Case best environmental full finally leader me...
                              ...
9995    Worry own pressure stuff together room propert...
9996    Enter bit thing certainly Earn 5000 per week I...
9997    Visit goal under boy Earn 5000 per week Immedi...
9998    Walk money letter few Earn 5000 per week Immed...
9999    Other left TV each reveal Earn 5000 per week I...
Name: description, Length: 10000, dtype: object

In [ ]:
for i in df['salary_range']:
    df['salary_range']=re.sub(r'-',' to ',i)
df['salary_range'] = df['salary_range'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', x))
df['salary_range']

0       56437 to 112301
1       56437 to 112301
2       56437 to 112301
3       56437 to 112301
4       56437 to 112301
             ...
9995    56437 to 112301
9996    56437 to 112301
9997    56437 to 112301
9998    56437 to 112301
9999    56437 to 112301
Name: salary_range, Length: 10000, dtype: object

In [ ]:
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.probability import FreqDist
from nltk import pos_tag
from nltk.chunk import ne_chunk
import string

nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('words')
nltk.download('punkt_tab')
nltk.download('averaged_perceptron_tagger_eng')
nltk.download('maxent_ne_chunker_tab')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.
[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger_eng.zip.
[nltk_data] Downloading package maxent_ne_chunker_tab to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping chunkers/maxent_ne_chunker_tab.zip.

True

In [ ]:
for i in df['description']:
    lemmatizer = WordNetLemmatizer()
    i = lemmatizer.lemmatize(i)
df['description']

0       Arm drive court sure vote Earn 5000 per week I...
1       Government whom its bed go tax tree black Earn...
2       I member discuss follow way there nation Earn ...
3       House across wait approach face Earn 5000 per ...
4       Case best environmental full finally leader me...
                              ...
9995    Worry own pressure stuff together room propert...
9996    Enter bit thing certainly Earn 5000 per week I...
9997    Visit goal under boy Earn 5000 per week Immedi...
9998    Walk money letter few Earn 5000 per week Immed...
9999    Other left TV each reveal Earn 5000 per week I...
Name: description, Length: 10000, dtype: object

In [ ]:
for i in df['requirements']:
    lemmatizer = WordNetLemmatizer()
    i = lemmatizer.lemmatize(i)
df['requirements']

0       Basic knowledge in live, no degree required. F...
1       Basic knowledge in seek, no degree required. F...
2       Basic knowledge in worker, no degree required....
3       Basic knowledge in example, no degree required...
4       Basic knowledge in smile, no degree required. ...
                              ...
9995    Basic knowledge in discussion, no degree requi...
9996    Basic knowledge in value, no degree required. ...
9997    Basic knowledge in during, no degree required....
9998    Basic knowledge in can, no degree required. Fl...
9999    Basic knowledge in pick, no degree required. F...
Name: requirements, Length: 10000, dtype: object

In [ ]:
 # Another preprocessing task

In [ ]:
import re
text= """
Hey, check this out! Visit https://www.example.com/ for the latest updates on #AI! 🙌🧠 The #machinelearning community is growing fast, but don't forget to always remember, "Data is key!" 😉 And don't miss the *amazing* event happening @ https://www.anotherexample.org/ in 2024!! 😊

#Welcome to the world of NLP, where text is 💬 & emotions are real! Processing text like "this" is fun, but sometimes it's hard to know what to remove. Do you need https://www.randomsite.net/ for your next project? 💻 Or maybe just go to https://www.testpage.io/? It's all good, right?

🚨🎉📊 Don't let those stop words slow you down... they’re everywhere, like "and", "the", "is", "it", "in", "to", "that" 🙈! Just #stayfocused and clean your text! Don't forget to filter out: "he", "she", "we", "you" and so on. 🌟

Moreover, take a look at these examples:
👉 www.somepage.com?query=hello&lang=en
👉 https://www.website1234.com/api?key=xyz

Happy preprocessing! 🧑‍💻✨
"""

In [ ]:
email_regex = r"https://[^\s]+"
emails = re.findall(email_regex, text)
print("\nExtracted Email Addresses:", emails)

Extracted Email Addresses: ['https://www.example.com/', 'https://www.anotherexample.org/', 'https://www.randomsite.net/', 'https://www.testpage.io/?', 'https://www.website1234.com/api?key=xyz']

In [ ]:
 url_clean=re.sub(r"https://[^\s]+","",text)
url_clean=re.sub(r"www.[^\s]+","",url_clean)
print("\nText after Removing url:\n", url_clean)

Text after Removing url:

Hey, check this out! Visit  for the latest updates on #AI! 🙌🧠 The #machinelearning community is growing fast, but don't forget to always remember, "Data is key!" 😉 And don't miss the *amazing* event happening @  in 2024!! 😊

#Welcome to the world of NLP, where text is 💬 & emotions are real! Processing text like "this" is fun, but sometimes it's hard to know what to remove. Do you need  for your next project? 💻 Or maybe just go to  It's all good, right?

🚨🎉📊 Don't let those stop words slow you down... they’re everywhere, like "and", "the", "is", "it", "in", "to", "that" 🙈! Just #stayfocused and clean your text! Don't forget to filter out: "he", "she", "we", "you" and so on. 🌟

Moreover, take a look at these examples:
👉
👉

Happy preprocessing! 🧑‍💻✨

In [ ]:
special_characters_clean=re.sub("[^a-zA-Z0-9\s]","",url_clean)
print("\nText after Removing Special Characters:\n", url_clean)

Text after Removing Special Characters:

Hey, check this out! Visit  for the latest updates on #AI! 🙌🧠 The #machinelearning community is growing fast, but don't forget to always remember, "Data is key!" 😉 And don't miss the *amazing* event happening @  in 2024!! 😊

#Welcome to the world of NLP, where text is 💬 & emotions are real! Processing text like "this" is fun, but sometimes it's hard to know what to remove. Do you need  for your next project? 💻 Or maybe just go to  It's all good, right?

🚨🎉📊 Don't let those stop words slow you down... they’re everywhere, like "and", "the", "is", "it", "in", "to", "that" 🙈! Just #stayfocused and clean your text! Don't forget to filter out: "he", "she", "we", "you" and so on. 🌟

Moreover, take a look at these examples:
👉
👉

Happy preprocessing! 🧑‍💻✨

In [ ]:
# removing emojis
emoji_pattern = re.compile(
    "[\U0001F600-\U0001F64F]"  # Emoticons
    "|[\U0001F300-\U0001F5FF]"  # Symbols & pictographs
    "|[\U0001F680-\U0001F6FF]"  # Transport & map symbols
    "|[\U0001F1E0-\U0001F1FF]"  # Flags
    "|[\U00002702-\U000027B0]"  # Additional emoji ranges
    "|[\U000024C2-\U0001F251]"  # Miscellaneous symbols
    "|[\U0001f926-\U0001f937]"  # Extended emoji ranges
    "|[\U0001F91D-\U0001F92C]"  # Extended emoji ranges
    "|[\U0001F600-\U0001F64F]"
)

emoji_clean = emoji_pattern.sub(r"", special_characters_clean)
print(emoji_clean)

Hey check this out Visit  for the latest updates on AI  The machinelearning community is growing fast but dont forget to always remember Data is key  And dont miss the amazing event happening   in 2024

Welcome to the world of NLP where text is   emotions are real Processing text like this is fun but sometimes its hard to know what to remove Do you need  for your next project  Or maybe just go to  Its all good right

 Dont let those stop words slow you down theyre everywhere like and the is it in to that  Just stayfocused and clean your text Dont forget to filter out he she we you and so on

Moreover take a look at these examples



Happy preprocessing

In [ ]:
all_clean = re.sub(r"  ", " ", emoji_clean)
all_clean = re.sub(r"   ", " ", all_clean)
all_clean = re.sub(r"    ", " ", all_clean)
all_clean = re.sub(r"     ", " ", all_clean)

print("\nUpdated Text after Replacement:\n", all_clean)

Updated Text after Replacement:

Hey check this out Visit for the latest updates on AI The machinelearning community is growing fast but dont forget to always remember Data is key And dont miss the amazing event happening  in 2024

Welcome to the world of NLP where text is  emotions are real Processing text like this is fun but sometimes its hard to know what to remove Do you need for your next project Or maybe just go to Its all good right

 Dont let those stop words slow you down theyre everywhere like and the is it in to that Just stayfocused and clean your text Dont forget to filter out he she we you and so on

Moreover take a look at these examples



Happy preprocessing

In [ ]:
text= re.sub(r"AI","Artificial intelligence",all_clean)
text= re.sub(r"NLP","Natural Language Processing",text)

print(text)

Hey check this out Visit for the latest updates on Artificial intelligence The machinelearning community is growing fast but dont forget to always remember Data is key And dont miss the amazing event happening  in 2024

Welcome to the world of Natural Language Processing where text is  emotions are real Processing text like this is fun but sometimes its hard to know what to remove Do you need for your next project Or maybe just go to Its all good right

 Dont let those stop words slow you down theyre everywhere like and the is it in to that Just stayfocused and clean your text Dont forget to filter out he she we you and so on

Moreover take a look at these examples



Happy preprocessing

In [ ]:
text= re.sub(r"\n","",text)

print(text)

Hey check this out Visit for the latest updates on Artificial intelligence The machinelearning community is growing fast but dont forget to always remember Data is key And dont miss the amazing event happening  in 2024  Welcome to the world of Natural Language Processing where text is  emotions are real Processing text like this is fun but sometimes its hard to know what to remove Do you need for your next project Or maybe just go to Its all good right  Dont let those stop words slow you down theyre everywhere like and the is it in to that Just stayfocused and clean your text Dont forget to filter out he she we you and so on  Moreover take a look at these examples     Happy preprocessing